<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Human</title>
    <style>
        button {
            background-color: #4CAF50;
            border: none;
            color: white;
        }
    </style>
</head>
<body>
<h2 th:align="center">User:</h2><br/>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th th:width="60">Id</th>
        <th th:width="120">Name</th>
        <th th:width="120">LastName</th>
        <th th:width="60">Age</th>
        <th th:width="100">login</th>
        <th th:width="120">password</th>
        <th th:width="100">Role</th>
        <th th:width="80">Update</th>
        <th th:width="80">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}">Value</td>
        <td th:text="${user.getName()}">Value</td>
        <td th:text="${user.getLastName()}">Value</td>
        <td th:text="${user.getAge()}">Value</td>
        <td th:text="${user.getLogin()}">Value</td>
        <td th:text="${user.getPassword()}">Value</td>
        <td th:text="${user.getRoles()}">Value</td>
        <td>
            <form>
                <button><a th:href="@{/admin/{id}/edit(id=${user.getId()})}" style="color: white">Update</a></button>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete" style="background-color: red;
                                                            border: none;
                                                            color: white;">
            </form>
        </td>
    </tr>
    </tbody>
</table><br/>
</body>
</html>